* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    overflow-x: hidden;
  }
  
  ul {
    list-style: none;
    padding: 0px 0px;
    margin: 0px 0px;
  }
  
  p, span, li {
    font-family: "Maison Neue Ext";
  }
  
  h1, h2, h3, h4, h5, h6, a {
    font-family: "Ginto Nord";
  }
  
  img{
      max-width: 100%;
      height: auto;
  }
  
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1050px;
    margin: auto;
    padding: 0 25px; 
  }
  
  .main{
    display: flex;
  }
  
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 85px;
    background: white;
  }
  
  @media (min-width: 1280px) {
    .header{
      margin: 0 120px;
    }
    .feature-container{
      padding: 0 40px;
    }
  }

  @media (min-width: 1400px) {
    .header{
      margin: 0 120px;
      padding: 15px 180px;
    }
    }
  .logo {
    color: #3b82f6;
    font-weight: bold;
    font-size: 22px;
  }
  
  .menu-icon{
    display: none;
  }
  
  .navbar{
    /* width: 60%; */
    padding: 0 20px;
    display: flex;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #4b5563;
    font-size: 16px;
  }
  
  .buy-btn {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 50px; */
    padding: 50px;
  }
  
  .hero-text {
    width: 100%;
    max-width: 400px;
  }
  
  h1 {  
    font-size: 32px;
    color: #222;
    margin-bottom: 10px;
  }
  
  .hero-buttons {
    display: flex;
    gap: 10px;
  }
  
  p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .primary-btn {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .secondary-btn {
    background-color: #e5e7eb;
    color: #222;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .hero-image img {
    width: 100%;
    max-width: 450px;
  }
  
  .features-section {
    padding: 0 50px;
    text-align: center;
  }
  
  .feature-container {
    max-width: 1100px;
    /* align-items: center;
    justify-content: center; */
    /* margin: 0 110px; */
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  
  .feature {
    flex: 1;
    text-align: left;
    padding: 20px;
  }
  
  .icon {
    font-size: 40px;
    color: #3b82f6;
    margin-bottom: 15px;
  }
  
  .card-section {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 40px; */
    background-color: white;
    padding: 40px;
    border-radius: 10px;
  }
  
  .card {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* width: 350px; */
    height: 420px;
    max-width: 350px;
  }
  
  .card-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  
  .card-form {
    padding: 20px;
  }
  
  .card-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .info {
    max-width: 500px;
    padding: 10%;
  }
  
  .card-highlight{
    color: #28a745;
  }
  
  h2 {
    font-size: 24px;
    color: #222;
    margin-bottom: 10px;
    font-weight: lighter;
    font-size: 30px;
  }
  
  .benefits {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
  }
  
  .benefit {
    width: 50%;
    color: #28a745;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 0;
  }
  
  
  .experience-section {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 50px; */
    padding: 50px;
    background-color: white;
    border-radius: 10px;
  }
  
  .experience-image{
    perspective: 1500px;
    align-self: center;
  }
  
  .experience-img {
    transform: rotateY(-35deg) rotateX(15deg) rotateZ(3deg);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  
  .experience-image img {
    border-radius: 0.625rem;
    width: 100%;
    max-width: 500px;
    overflow: visible;
  }
  
  .experience-text {
    max-width: 400px;
  }
  
  .exp-main{
    display: flex;
    flex-direction: row;
  }
  
  .highlight {
    color: #007bff;
  }
  
  .experience-point {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .testimonial-section {
    /* max-width: 800px; */
    margin: auto;
    text-align: center;
    background-color: white;
    padding-top: 60px;
  }
  
  .subtext {
    color: #666;
    margin: 10px 0 30px;
    line-height: 1.5;
    padding-top: 10px;
    font-size: large;
    /* width: 75%; */
    text-align: center;
    padding: 0 20px;
  }
  
  .testimonial-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70%;
    margin: 0 15%;
  }
  
  .nav-button {
    background-color: #007bff;
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
  }
  
  /* .right{
    position: absolute;
    right: 30%;
  }
  
  .left{
    position: absolute;
    left: 30%;
  } */
  
  .testimonial-card {
    display: flex;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100% ;
    height: auto;
    text-align: left;
  }
  
  .testimonial-image {
    width: 50%;
    object-fit: cover;
  }
  
  .testimonial-text {
    padding: 20px;
    width: 50%;
    align-items: center;
    justify-items: center;
  }
  
  .company-logo {
    width: 120px;
    margin-bottom: 10px;
  }
  
  .testimonial-quote {
    font-style: italic;
    color: #333;
    margin-bottom: 10px;
  }
  
  .testimonial-name {
    color: #888;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 10px;
    font-weight: lighter;
  }
  
  .business-section {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 50px; */
    padding: 50px;
    padding-top: 100px;
    background-color: white;
  }
  
  .business-text {
    max-width: 450px;
  }
  
  .business-stats {
    display: flex;
    gap: 30px;
  }
  
  .stat {
    text-align: center;
  }
  
  .stat h3 {
    font-size: 22px;
    color: #222;
  }
  
  .stat p {
    color: #666;
    font-size: 14px;
  }
  
  .business-image img {
    width: 100%;
    max-width: 450px;
  }
  
  .pricing-section {
    max-width: 900px;
    margin: auto;
    text-align: center;
    padding-top: 50px;
  }
  
  .pricing-top{
    display: block;
  }
  
  /* .subtext {
    color: #666;
    margin: 10px 0 30px;
    line-height: 1.5;
  } */
  
  .toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
    color: #888;
  }
  
  .pricing-container {
    display: flex;
    justify-content: center;
    justify-content: center;
    /* gap: 30px; */
  }
  
  .pricing-card {
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    width: 350px;
    height: 400px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-self: center;
  }
  
  h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  h3 span {
    font-size: 18px;
    color: #888;
  }
  
  .small-text {
    color: #888;
    font-size: 14px;
    text-align: center;
  }
  
  ul {
    list-style: none;
    margin: 20px 0;
  }
  
  ul li {
    color: #00b894;
    padding: 5px 0;
    text-align: left;
  }
  
  .enterprise-text {
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .badge {
    display: inline-block;
    background: #f4ebeb;
    color: #4a97ea;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: lighter;
    margin-bottom: 10px;
  }
  
  .button.blue {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
  }
  
  .button.light {
    background-color: #ddd;
    color: #222;
  }
  
  .faq-section {
    padding: 50px 0;
    background-color: #1b2a4e;;
  }
  
  .faq-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* gap: 40px; */
    max-width: 900px;
    margin: auto;
  }
  
  .faq-item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    max-width: 350px;
    text-align: left;
  }
  
  .faq-container .faq-item .faq-content p {
    color: #869ab8;
  
  }
  
  .faq-container .faq-item h3 {
    color: white;
    font-weight: lighter;
  }
  
  .faq-icon {
    color: #00b894;
    font-weight: bold;
    font-size: larger;
    margin-top: 10px;
  }
  /* 
  .faq-content{
    max-width: 50%;
  } */
  
  .cta-section {
    /* margin-top: 30px; */
    padding: 50px 10px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1b2a4e;
  }
  
  .cta-section h3 {
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 10px;
  }
  
  .cta-section h2 {
    color: white;
  }
  
  .cta-section p{
    color: #869ab8;
  }
  
  .cta-section .badge{
    background-color: #506690;
    color: #869ab8;
  }
  
  .cta-button {
    background-color: #00b894;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .footer {
    background-color: #edf2f7;
    padding: 50px 0;
    /* text-align: left; */
  }
  
  .footer-container {
    display: flex;
    justify-content: center;
    /* width: 100%; */
    /* flex-wrap: wrap; */
    /* max-width: 1100px; */
    /* margin: auto; */
  }
  
  .footer-brand {
    /* max-width: 250px; */
    padding-right: 30px;
  }
  
  .footer-brand p {
    color: #6b7280;
    margin: 10px 0;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: #6b7280;
    cursor: pointer;
  }
  
  .footer-links {
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 60px;
  }
  
  .footer-links .footer-column{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: start; */
  }
  
  .footer-column h4 {
    color: #6b7280;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
    /* align-self: center; */
  }
  
  .footer-column ul {
    list-style: none;
  }
  
  .footer-column ul li {
    margin-bottom: 8px;
  }
  
  .footer-column ul li a {
    text-decoration: none;
    color: #6b7280;
    font-size: 14px;
  }
  
  @media (max-width: 768px){
    .logo{
      width: 20%;
    }
    .container{
      flex-direction: column-reverse;
    }
    .row{
      flex-direction: column;
    }
    .exp-main{
      flex-direction: column;
    }
    .testimonial-card{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .testimonial-image {
      width: 100%;
      /* object-fit: cover; */
    }
    .testimonial-text{
      text-align: center;
      width: 100%;
    }
    .pricing-main{
      flex-direction: column-reverse;
    }
    .pricing-container{
      flex-direction: column;
    }
    .pricing-card{
      height: fit-content;
    }
    .navbar{
      display: none;
    }
    .navbar.active{
      display: block;
    }
    .nav-links{
      flex-direction: column; 
    }
    .buy-btn{
      display: none;
    }
    .menu-icon{
      display:block;
      width: 80%;
      text-align: end;
    }
    .footer-container{
      flex-wrap: wrap;
      /* margin-left: 50px; */
    }
    .footer-brand{
      width: 100%;
      padding-bottom: 30px;
    }
    .footer-links {
      flex-wrap: wrap;
      gap: 0;
    }
    .faq-item{
      max-width: 300px;
    }
  }